/* main layout of our kanban */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.required::after {
    content: " * ";
    color: darkred;
}

details {
    font-size: 110%;
}

details > summary {
    font-size: 110%;
}
