/* main layout of our kanban */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.required::after {
    content: " * ";
    color: darkred;
}

details {
    font-size: 110%;
}

details > summary {
    font-size: 110%;
}

.task-list {
    margin-top: 2px;
    padding-top: 2px;
    list-style-type: none;
}

.task-list > li {
    margin-top: 2px;
    padding-top: 4px;
    padding-left: 2px;
    border-top : 1px gray solid;
}

.task-item {
}